body{ 
    margin:0; font-family:Arial, sans-serif; 
    display: flex; 
    justify-content:center; 
    align-items:center; 
    height:100vh; 
    background: #f4f6f9;
    box-shadow:
    0 8px 20px rgba(59, 130, 246, 0.35),
    0 4px 10px rgba(236, 72, 153, 0.35);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
} 

.container{
    background: #f4f6f9;
    padding: 165px; 
    border-radius:10px; 
    width: 900px;
    height: 300px;
    text-align:center; 
} 

input{ 
    width:50%; 
    padding:10px; 
    margin:10px 0; 
    box-sizing:border-box; 
    border-radius:10px; 
} 

button{ 
    width:50%; 
    padding:10px; 
    background:#4CAF50; 
    color:white; 
    border:none; 
    cursor:pointer; 
    font-size:16px; 
    border-radius:10px; 
} 

button:hover{ 
    background:#388E3C; 

} 

a{ 
    color:rgb(0, 17, 255); 
    cursor:pointer; 
    text-decoration:none; 
}

nav{
    width: 95.6%;
    background:#2c3e50;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    position: absolute;
    top: 0%;
    font-family: 'Poppins', sans-serif;
}

.title{
    color:white;
    font-size:24px;
    font-weight:bold;
}